body{
   
    background: linear-gradient(#191c20, #111 25%);
}
.sec{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0
}
.sec .blog{
    width: 600px;
    min-height: 200px;
    background-color: #242526;
    margin: 20px 0;
    box-shadow: 0px 0px 5px  rgb(0 0 0 / 71%);
    border-radius: 12px;
    font-family: "Ubuntu Condensed";

}
.blog .head{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    margin: 10px 0 5px 10px;
    font-family: "Ubuntu Condensed";

}
.head img{
    width: 40px;
    border-radius:50%;
    margin: 0px 5px 0 0px;

}
.head h5{
    color: white;
    
}
.img-container{
    width: 100%;
}
.img-container img{
    width: 100%;
}
.blog .footer{
    color: #dee1e6;
    padding: 20px 15px;
    font-family: "Ubuntu Condensed";

}
.footer h2{
    padding: 0 0 10px 0 ;
    font-family:"Ubuntu" ;
}