body{
    background-color: #151515;
    background-image:linear-gradient(#2d2f3a, #151515 25%);
    background-repeat: repeat-x;
    background-position: center 0, 0 0, 0 0px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    display: flex;
    justify-content: center;
}
.main-container{
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.section{
    margin: 100px;
     font-family: 'Ubuntu Condensed';
     color: white;
}
.sec-box{
    display: flex;
    width: 100%;
    margin: 38px 0 0 0;
    justify-content: center;
    flex-wrap: wrap;
}
form{
    background: none;
    width: 450px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu Condensed';
}

form input{
    padding: 20px 0;
    font-size: 20px;
    background: none;
    border: none;
    border-bottom: 2px solid crimson;
    width: 100%;
    font-family: "Helvetica Neue",Helvetica;
    color: #ccc;
    margin: 10px 0;
    outline: none;
}
.form-box{
    width: 64%;
    display: flex;
    justify-content: center;
}
form .your-mesg{
   
    padding: 20px 0;
    font-size: 20px;
    background: none;
    border: none;
    border-bottom: 2px solid crimson;
    width: 100%;
    font-family: "Helvetica Neue",Helvetica;
    color: #ccc;
    margin: 10px 0;
    outline: none;
}
form button{
    font-size: 16px;
    font-weight: 600;
    border: 2px solid white;
    border-radius: 12px;
    padding: 10px 20px;
    background: none;
    color: white;
    margin: 20px 0 0 0 ;
}
.other-platforms{
    display: flex;
    flex-direction: column;
}
.other-platforms i{
    font-size: 40px;
    color: white;
    margin: 20px;
}
.other-platforms i a{
    text-decoration: none;
    color: white;
    font-family: 'Ubuntu Condensed';
    font-size: 17px;
    margin: 0 0 0 10px;
    
}

.section center h1{
    border-bottom: 4px solid crimson;
    width: 250px;
    font-size: 38px;
    padding: 0px 0 5px 0px;
    font-family: "Helvetica Neue",Helvetica;
    color: #ccc;
}
@media screen and (max-width:900px) {
    .section{
        margin: 100px 20px;
    }
    .form-box form{
        width: 370px;
    }
}
@media screen and (max-width:710px) {
    body{
    background-image:linear-gradient(#2d2f3a, #151515 5%);

    }
    .form-box form{
        width: 320px;

    }
    .other-platforms i{
        font-size: 37px;
    }
    .other-platforms i a{
        font-size: 15px;
    }
}
