.background{
        
    background: rgba(0, 0, 0, 0.7) url(img/photo-1495781856580-b3c4e8d21bf9.jpg);
background-size: cover;
background-blend-mode: darken;
filter: hue-rotate(45deg);
height: 100vh;

   
}

.section{
    
    display: flex;
    margin: 70px 10px 10px 100px;
    min-width: 450px;
    flex-wrap: wrap-reverse;
}
.content{
    color: white;
    width: 70%;
    font-family: "Ubuntu Condensed";
    min-width: 300px;

    
}
.content .name{
    margin: 30px 0px 0px 0px;
    color: #ccc;
}
.content .headline{
    margin: 0px 0px 30px 0;
    color: #c3b3f5;
}
.img-holder{
    width: 30%;
    min-width: 200px;
}
.img-holder img{
    border-radius: 50%;
    width: 200px;
}
.whatsapp-div{
    margin: 50px;
}
.whatsapp{
    text-decoration: none;
    color: white;
    border-radius: 10px;
    border: 2px solid white;
    background: none;
    margin: 30px 0 0 50px;
    padding: 10px 20px;
}

@media screen and (max-width:1044px) {
    .img-holder{
        width: 20%;
    }
    .img-holder img{
        width: 180px;
    }
}

@media screen and (max-width:970px) {
    .background{
        height: 100%;
        
    }
    .img-holder img{
        width: 160px;
    }
    
   
}
@media screen and (max-width:910px) {
    .background{
        height: 100%;
        
    }
    .img-holder img{
        width: 150px;
    }
   
}
@media screen and (max-width:850px) {
    .background{
        height: 100%;
        
    }
    .img-holder img{
        width: 130px;
    }
   
}
@media screen and (max-width:794px) {
    .img-holder, .content {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

@media screen and (max-width:780px) {
  
    
    .img-holder img{
        width: 150px;
        
    }
.section{
    margin: 70px 10px 10px 50px;

}
}
@media screen and (max-width:555px) {
    .img-holder img{
        width: 130px;
    }
.section{
    margin: 70px 20px 10px 40px;

}
.content p{
    font-size: 15px;
}
}
@media screen and (max-width:480px) {
   
    .section{
        min-width: 200px;

    }
    .img-holder , .content{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .img-holder img{
        width: 100px;
        border-radius: 50%;
    }
.section{
    margin: 70px 20px 10px 20px;

}
.content ,.img-holder{
    min-width: 300px;
}
}
@media screen and (max-width:380px) {
    .content ,.img-holder{
        min-width: 250px;
    }
  
}